body{
  background: url(../images/coverpic.jpg) no-repeat center center ;
  background-size: cover;
  background-position:0px 50px;
  font-family: 'Revalia', cursive;
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;

}
.nav-link{
  color:#fff;
}
.btn{
  color: #fff;
}
.navbar-toggler{
  color: #fff;
}
.carousel{
  margin: 50px 0px;

  width: 80%;
}
#footer {
    color: rgba(255,255,255,.4);
    background-color: #222e2e;
    width: 100%;
    text-align: center;
    padding: 25px;

}
