* {
  box-sizing: border-box;
}
html, body {
  min-height: 100%;
}
body{
  position: relative;
  min-height: 100%;
  background: url(../images/coverpic.jpg) no-repeat center center fixed ;
  background-size: cover;
  height: 100vh;

  margin: 0px;
  font-family: 'Revalia', cursive;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
.j1{
  background-color: rgba(248, 239, 186,1.0);
}
.j2{
  background-color: #FFEB3B;
}
.j3{
  background-color:rgba(234, 181, 67,1.0);
}
.j4{
  background-color:  #FFC107;

}
.j5{
  margin-top:25px;
  background-image: url(../images/gr1.jpg);
}
.card{
  margin-bottom: 25px;
}
.navbar-nav > li{
  padding-left:30px;


}
.nav-coll{
  background-color: #222e2e !important;
}
.nav-link{
  color:#fff;
}
.btn{
  color: #fff;
}
.navbar-toggler{
  color: #fff;
}
.carousel{
  margin: 50px 0px;

  width: 80%;
}
#footer {
    color: rgba(255,255,255,.4);
    background-color: #222e2e;
    width: 100%;
    text-align: center;
    padding: 25px;

}

#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  }
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */

.content {

}
@media (min-width: 500px) {
  .content {
    width: 43%;
  }
  #b1 {
    margin: 30px;
  }
}
.content h1 {
  margin-bottom: -10px;
  color: #03a9f4;
  line-height: 1.5;
}
.content h3 {
  font-style: italic;
  color: #96a2a7;
}
.navbar-light .navbar-brand {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-light .navbar-toggler-icon{
  background-color: #fff !important;
}
.custom-image{
  background-color: white;
}


.j-main{
  color: #FF5722;
  background: transparent;
  text-align: center;
  border: solid 5px;
  margin: 0px 30px;
}
.logo-nyg{
  width: 40%;
}

/* Back to Top */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #4884c3;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
.display-1{
  font-size: 4.5em;
  font-weight: 800;
}

/* images */
