<section class="gallery-block art_gallery">
	    <div class="container back">
	        <div class="heading">
	          <h2>Art Gallery</h2>
	        </div>
	        <div class="row">
	            <div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href="../img/artgallery/art_gallery1.jpg">
	                		<img src="../img/artgallery/art_gallery1.jpg" alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">Gagosian Gallery</a></h6>
	                        
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
						<a class="lightbox" href="../img/artgallery/art_gallery2.jpg">
		                	<img src="../img/artgallery/art_gallery2.jpg" alt="Card Image" class="card-img-top">
		                </a>
	                    <div class="card-body">
	                        <h6><a href="#">David Zwirner</a></h6>
	                        
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href="../img/artgallery/art_gallery3.jpg">
	                		<img src="../img/artgallery/art_gallery3.jpg" alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">Gladstone Gallery</a></h6>
	                       
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href="../img/artgallery/art_gallery4.jpg">
	                		<img src="../img/artgallery/art_gallery4.jpg" alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">CLEARING</a></h6>
	                        
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href="../img/artgallery/art_gallery5.jpg">
	                		<img src="../img/artgallery/art_gallery5.jpg" alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">JTT</a></h6>
	                        
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href="../img/artgallery/art_gallery6.jpg">
	                		<img src="../img/artgallery/art_gallery6.jpg" alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">47 Canal</a></h6>
	                        
	                    </div>
	                </div>
	            </div>
				<div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href="../img/artgallery/art_gallery7.jpg">
	                		<img src="../img/artgallery/art_gallery7.jpg" alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">Acquavella Galleries</a></h6>
	                        
	                    </div>
	                </div>
	            </div>
				<div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href="../img/artgallery/art_gallery8.jpg">
	                		<img src="../img/artgallery/art_gallery8.jpg" alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">Michael Werner</a></h6>
	                        
	                    </div>
	                </div>
	            </div>
				<div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href="../img/artgallery/art_gallery9.jpg">
	                		<img src="../img/artgallery/art_gallery9.jpg" alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">Half Gallery</a></h6>
	                        
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
</section>