<div class="">
	<div class="row">
		<div class="thumbnail text-center">
			<img src="../img/attractions/attractions_main.jpg" alt="" class="img-fluid">
			<div class="caption art_caption">
				<h1 class="bottomright">It’s all about you</h1>
			</div>
		</div>
	</div>
	<hr>
	<br>
	<div>
		<h1 class="attr_header">The Best Attractions to New York</h1>
			
		</div>
	<div class="media">
		<div class="media-left">
			<img src="../img/attractions/attractions1.jpg" class="media-object attr_img">
		</div>
		<div class="media-body">
			<h3 class="media-heading">Empire State Building</h3>
			<p>It's practically impossible to imagine the sparkling New York skyline without the iconic Empire State Building. A famed piece of Art Deco architecture that took over 400 days to structurally complete, the skyscraper reaches an astonishing height of 1,454-feet—and while it's no longer the tallest building in New York, it held that title for several decades following its 1931 completion date. Visiting this illustrious landmark? Keep your eyes peeled for some of the finer details in the lobby, which was lovingly restored in 2009. Enjoy visions of the topper’s three tiers of lights, which illuminate up to nine colors at a time and don't miss the rod at the top of the building, which is frequently hit by lightning—yep, you might see sparks (literally) fly. Oh, and (of course) spend some time on the observation deck—the cityscape is ace. There may be a queue but trust us, it's totally worth the wait. Besides, the Empire State is open 365-days a year, so there's no reason to pass this one by.</p>
		</div>
	</div>
	<hr>
	<div class="media">
		<div class="media-body">
			<h3 class="media-heading">Brooklyn Bridge</h3>
			<p>No mere river crossing, this span is an elegant reminder of New York’s history of architectural innovation. When it opened in 1883, the Brooklyn Bridge was a feat of engineering: It was the first structure to cross the East River and, at the time, the longest suspension bridge in the world. (It also made use of steel-wire cables, invented by the bridge’s original designer, John A. Roebling.) Now it attracts thousands of tourists and locals, who enjoy spectacular views of lower Manhattan and other city landmarks (such as the Statue of Liberty and Governors Island) as they stroll its more-than-mile-long expanse. Heads up, though: You may run into the occasional cyclist trying to navigate through the crowds on the pedestrian walkway. —Amy Plitt</p>
		</div>
		<div class="media-right">
			<img src="../img/attractions/attractions2.jpg" class="media-object attr_img">
		</div>
	</div>
	<hr>
	<div class="media">
		<div class="media-left">
			<img src="../img/attractions/attractions3.jpg" class="media-object attr_img">
		</div>
		<div class="media-body">
			<h3 class="media-heading">Central Park</h3>
			<p>Gotham’s love affair with its most famous green space is well documented in song, literature and film, but there’s still plenty to adore about the country’s first landscaped public park. Urban visionaries Frederick Law Olmsted and Calvert Vaux sought a harmonious balance of scenic elements: pastoral (the open lawn of the Sheep Meadow), formal (the linear, tree-lined Mall) and picturesque (the densely wooded paths of the Ramble). Today, the 843-acre plot draws millions of visitors to its skyscraper-bordered vistas in all seasons: sunbathers and picnickers in summer, ice-skaters in winter, and bird-watchers in spring and fall. It’s also an idyllic venue for beloved cultural events like Shakespeare in the Park and the New York Philharmonic’s annual open-air performance. —Carolyn Stanley</p>
		</div>
	</div>
	<hr>
	<div class="media">
		<div class="media-body">
			<h3 class="media-heading">The Statue of Liberty</h3>
			<p>Perhaps no other New York attraction is as iconic—or as avoided by tourist-averse New Yorkers—as Lady Liberty. Our tip: Dodge the foam-crown-sporting masses and skip the line for the ferry by prebooking a combo cruise-and-tour ticket (visit statuecruises.com for more information). A climb to the crown affords a panoramic view of New York Harbor and the chance to see the literal nuts and bolts of Frédéric Auguste Bartholdi’s creation. We also recommend stopping in the museum on Liberty Island, if only to marvel at the initial ambivalence of 19th-century New Yorkers when they were asked to fund the construction of the pedestal. Ferries depart from Castle Clinton—Jonathan Shannon</p>
		</div>
		<div class="media-right">
			<img src="../img/attractions/attractions4.jpg" class="media-object attr_img">
		</div>
	</div>
	<hr>
	<div class="media">
		<div class="media-left">
			<img src="../img/attractions/attractions5.jpg" class="media-object attr_img">
		</div>
		<div class="media-body">
			<h3 class="media-heading">One World Observatory</h3>
			<p>Although the One World Observatory occupyies floors 100 to 102 of the tallest building of the Western Hemisphere, this observation deck can be reached in just 60 seconds via a set of visually immersive 'Sky Pod' elevators. During the interactive tour experience, guests walk through some of the bedrock on which the building is built before entering the elevators, which are fitted with floor-to-ceiling LED screens showing a video of the city and building's history. Once at the top, the video concludes as the screen lifts up to reveal stunning 360-degree views of the Manhattan skyline. After soaking up the sights, head to One Café for casual fare, One Mix for small plates and cocktails or, the gem, One Dine for a full dining experience with large windows looking onto the horizon (reservations required). —Dan Q. Dao</p>
		</div>
	</div>
	<hr>
	<div class="media">
		<div class="media-body">
			<h3 class="media-heading">The Metropolitan Museum of Art</h3>
			<p>Sprawling doesn’t even begin to describe this Manhattan institution: It’s one of the few spots in the city where you could spend literally an entire day and see only a fraction of the holdings. Behind the doors of its iconic neoclassical facade lie 17 curatorial collections spanning countless eras and cultural perspectives, from prehistoric Egyptian artifacts to contemporary photography. Those seeking to satisfy their anthropological curiosity can explore the extensive assemblage of musical instruments, weapons and armor or the Costume Institute’s centuries of wearable art. And for committed museumgoers who have made their way through the permanent collections—an admirable feat—special exhibitions merit return visits year after year. Recent blockbusters have examined the career of the late designer Alexander McQueen and featured the works of Pablo Picasso. —Carolyn Stanley</p>
		</div>
		<div class="media-right">
			<img src="../img/attractions/attractions6.jpg" class="media-object attr_img">
		</div>
	</div>
	<hr>
	<div class="media">
		<div class="media-left">
			<img src="../img/attractions/attractions7.jpg" class="media-object attr_img">
		</div>
		<div class="media-body">
			<h3 class="media-heading">Chrysler Building</h3>
			<p>We won’t argue if you want to call this glimmering pinnacle of Art Deco architecture NYC’s most eye-popping skyscraper. Triangle-shaped windows in its crown are lined with lights, creating a beautiful effect come nighttime. Oozing a moneyed sophistication oft identified with old New York, the structure pays homage to its namesake with giant eagles (replicas of ones added to Chrysler automobiles in the 1920s) in lieu of traditional gargoyles and a brickwork relief sculpture of racing cars, complete with chrome hubcaps. During the famed three-way race to construct Manhattan’s tallest building, the Chrysler added a needle-sharp stainless-steel spire to best 40 Wall Street—but was outdone shortly after its completion in 1930 by the Empire State Building. —Tim Lowery</p>
		</div>
	</div>
	<hr>
	<div class="media">
		<div class="media-body">
			<h3 class="media-heading">The High Line</h3>
			<p>When the weather is pleasant, there’s nothing quite like walking the High Line. NYC’s elevated park is certainly one of more popular New York attractions everyone needs to check off their list. To give you a bit of history, the High Line was once a railway line, in use until 1980. In 2009, the 1.45-mile-long strip was transformed into what is now considered one of the most unique parks in NYC. Featuring wildflowers, greenery and outdoor art installations in addition to killer views of New York’s skyline. —Evelyn Derico</p>
		</div>
		<div class="media-right">
			<img src="../img/attractions/attractions8.jpg" class="media-object attr_img">
		</div>
	</div>
	<hr>
	<div class="media">
		<div class="media-left">
			<img src="../img/attractions/attractions9.jpg" class="media-object attr_img">
		</div>
		<div class="media-body">
			<h3 class="media-heading">Theatre District</h3>
			<p>Each year, about 13 million locals and tourists take in Broadway shows at one of NYC's 40 Broadway theaters. Most of those venues are located in the theater district—roughly, 41st Street to 52nd Street and Sixth Ave to Eighth Ave. Each season brings a new wave of megamusicals, plays and star-driven revivals. Some boast gold from the Tony Awards. At the height of the fall and spring seasons, be sure to check our homepage for new critics picks, reviews and cheap broadway tickets. The savvy consumer can find discount tickets at most Broadway shows. NYC hurry—the curtain’s about to rise! — David Cote</p>
		</div>
	</div>
	<hr>
	<div class="media">
		<div class="media-body">
			<h3 class="media-heading">The 9/11 Memorial and Museum</h3>
			<p>In the footprints of where the Twin Towers once stood are North America’s largest man-made waterfalls, the bottoms of which seem to be impossible to see. The twin reflecting pools, the 9/11 Memorial designed by Michael Arad, are a solemn reminder of all that was lost during the terrorist attacks on September 11, 2001 and the World Trade Center bombing in 1993. Lining the pools, each one acre in size, are bronze panels with the names of the 3,000 deceased victims from the attacks, including the rescue personnel who died helping the other victims. For those who wish to pay their respects to the tragedy and learn more about the events that transpired, the museum serves as the leading collection of artifacts and documentation of September 11. Inside, visitors can hear first hand accounts of survivors, see picture and video footage of the attacks and see recovered objects such as a wrecked recovery vehicles, large pieces of warped metal foundation and the 30-foot National 9/11 Flag. — Tolly Wright</p>
		</div>
		<div class="media-right">
			<img src="../img/attractions/attractions10.jpg" class="media-object attr_img">
		</div>
	</div>
	<hr>
	<div class="media">
		<div class="media-left">
			<img src="../img/attractions/attractions11.jpg" class="media-object attr_img">
		</div>
		<div class="media-body">
			<h3 class="media-heading">Rockefeller Center</h3>
			<p>You’ll find a smorgasbord of New York sites in this distinctive, multi-block complex—in fact, the ground level alone is home to the tourist-packed ice-skating rink, the bronze Atlas statue and the ‘Today Show’ plaza. Higher up, Top of the Rock rivals the Empire State Building in panoramic city views. You may not be able to access the five private rooftop gardens if you’re not a Saturday Night Live cast member, but you can still peek at the spaces from Saks Fifth Avenue’s eighth-floor shoe department if you can't help but be curious. Special credentials are not required, however, to inspect the Art Deco murals that appear in several buildings. Don’t miss the triptych above the outdoor entrance to 5 Rockefeller Center or the rinkside Prometheus statue; both purportedly contain secret Freemason symbols. —Allison Williams</p>
		</div>
	</div>
	<hr>
	<div class="media">
		<div class="media-body">
			<h3 class="media-heading">Times Square</h3>
			<p>Manhattan’s heart was once a hub for vice, teeming with sex shops and drug dealers. Over time that notorious reputation has eroded, and now the area can feel like a tourist-clogged shopping mall. Still, changes such as the stairs above the TKTS booth and a pedestrian plaza along Broadway have improved the sightseeing experience…sort of. If the thought of attending the annual glitzy New Year’s Eve celebration gives you hives, you can see the midnight countdown re-created on a smaller scale at the Times Square Visitor Center, thanks to one of the Waterford crystal balls used in years past. —Allison Williams</p>
		</div>
		<div class="media-right">
			<img src="../img/attractions/attractions12.jpg" class="media-object attr_img">
		</div>
	</div>
	<hr>

</div>