<div class="">
	<div class="row">
		<div class="thumbnail text-center">
			<img src="../img/attractions/attractions_main.jpg" alt="" class="img-fluid">
			<div class="caption art_caption">
				<h1 class="bottomright">It’s all about you</h1>
			</div>
		</div>
	</div>
	<hr>
	<br>



</div>