<div class="py-2">
    <h1>Best things to do in NYC this weekend</h1>
    There are a ton of great things to do in NYC this weekend, but don't worry—we've whittled<br> the list down to our
    10 recs
    <div>
        <img class="img-fluid center cal_img_main" src="/img/Calendar/NewYork_Calendar.jpg">
        </div>
    <figcaption class="figure-caption"><strong> By </strong>Saikumar Katepalli and Time Out New York contributors</figcaption>
    <br>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Party Like It's 1999: Let's Fall Back, Doggystyle Edition</h3>
            <i class="fa fa-map-marker" aria-hidden="true"> The Bell House, Gowanus</i> <i class='far fa-calendar-alt'>
                Nov 3 2018</i>
            <p class="card-text">The popular throwback soiree returns for another spirited celebration of all things
                ’90s. For this edition, DJ Steve gives the nod to that most laid back of West Coast rappers, Snoop
                Dogg. Sip some gin and juice and sway to Snoop's best jams of yesteryear, played amongst all manner of
                nostalgic pop, dance and R&B hits.</p>
            <a href="/img/Calendar/Cal1.jpg"><img class="img-fluid cal_img" src="/img/Calendar/Cal1.jpg" alt="snoop dog"></a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Target First Saturdays</h3>
            <i class="fa fa-map-marker"> Brooklyn Museum | Brooklyn, NY, Prospect Park</i> <i class='far fa-calendar-alt'>
                Nov 3 2018</i>
            <p class="card-text">Every month, Brooklyn Museum opens its doors for a free day of talks, performances,
                art workshops and curator-led tours of exhibitions. This installment honors "Art in the Age of Black
                Power" with live music from Antoine Drye, Jaime Lee Lewis and Shelley Nicole's blaKbüshe, talks with
                prominent art curators, pop-up poetry readings and more.</p>
            <a href="/img/Calendar/Cal2.jpg"><img class="img-fluid cal_img" src="/img/Calendar/Cal2.jpg" alt="snoop dog"></a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Bank of America Winter Village at Bryant Park Rink</h3>
            <i class="fa fa-map-marker"> Bryant Park, Midtown West</i> <i class='far fa-calendar-alt'> Nov 3 2018</i>
            <p class="card-text">Bryant Park’s 17,000-square-foot outdoor rink is free and open late. Don’t get too
                excited—the admission may be gratis, but you’ll have to shell out $15–$19 to rent skates (or BYO).
                Still, it’s a veritable winter wonderland: After your time on the ice, warm up at spacious rinkside
                foodhall the Lodge. If you want to practice your lutzes and axels with ample spinning room, try
                visiting during off-peak hours. RECOMMENDED: More rinks for ice skating in NYC</p>
            <a href="/img/Calendar/Cal3.jpg"><img class="img-fluid cal_img" src="/img/Calendar/Cal3.jpg" alt="snoop dog"></a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Tenacious D</h4>
            <i class="fa fa-map-marker"> Kings Theatre, Brooklyn</i> <i class='far fa-calendar-alt'> Nov 3 2018 </i>
            <p class="card-text">After years off the circuit and the ungenerous response to their film, KG and JB have
                gotten up and dusted themselves off, and are back to rule the masses. Their new album, Post Apocalypto,
                features lots of tracks about destruction, triumph, boning and, of course, rocking hard.</p>
            <a href="/img/Calendar/Cal4.jpg"><img class="img-fluid cal_img" src="/img/Calendar/Cal4.jpg" alt="snoop dog"></a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Original Crosstown Pizza Walk</h3>
            <i class="fa fa-map-marker"> Nolita </i> <i class='far fa-calendar-alt'> Nov 3 2018</i>
            <p class="card-text">Ready to feast on some of the city's most notable pies? Sign up for this walking tour
                led by a "pizza spirit guide" from Scott's Pizza Tours. The three-hour excursion takes you to three New
                York City pizzerias in Greenwich Village and Soho to sample the slices and check out the kitchens. The
                itinerary changes every time, so no two tours will be the same. </p>
            <a href="/img/Calendar/Cal5.jpg"><img class="img-fluid cal_img" src="/img/Calendar/Cal5.jpg" alt="snoop dog"></a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <br>
</div>