<div class="">
     <div class="row">
        <div class="thumbnail text-center">
            <img src="/img/restaurant/restaurant-baner.jpg" alt="" class="img-fluid">
            <div class="caption">
                <h1 class="text-center caption">The Best Places to Eat in NYC Right Now</h1>
            </div>
        </div>
    </div>
    <hr>
    <br>
    <div class="container">
      
      <div class="row hidden-md-up">
        <div class="col-md-4">
          <div class="card">
              <!-- Image -->
              <img class="card-img-top restaurant-card" src="/img/restaurant/img1.jpg" alt="Photo of sunset">
              <!-- Text Content -->
              <div class="card-body">
                <h4 class="card-title">restaurant name</h4>
              <p class="card-text">Well it was good while it lasted...</p>
                  <a href="" class="link">restaurant link</a>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
              <!-- Image -->
              <img class="card-img-top restaurant-card" src="/img/restaurant/img2.jpg" alt="Photo of sunset">
              <!-- Text Content -->
              <div class="card-body">
              <h4 class="card-title">restaurant name</h4>
              <p class="card-text">Well it was good while it lasted...</p>
                  <a href="" class="link">restaurant link</a>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
              <!-- Image -->
              <img class="card-img-top restaurant-card" src="/img/restaurant/img3.jpg" alt="Photo of sunset">
              <!-- Text Content -->
              <div class="card-body">
             <h4 class="card-title">restaurant name</h4>
              <p class="card-text">Well it was good while it lasted...</p>
                  <a href="" class="link">restaurant link</a>
              </div>
          </div>
        </div>
      </div>
      <br>
    <div class="row hidden-md-up">
        <div class="col-md-4">
          <div class="card">
              <!-- Image -->
              <img class="card-img-top restaurant-card" src="/img/restaurant/img4.jpg" alt="Photo of sunset">
              <!-- Text Content -->
              <div class="card-body">
              <h4 class="card-title">restaurant name</h4>
              <p class="card-text">Well it was good while it lasted...</p>
                  <a href="" class="link">restaurant link</a>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
              <!-- Image -->
              <img class="card-img-top restaurant-card" src="/img/restaurant/img5.jpg" alt="Photo of sunset">
              <!-- Text Content -->
              <div class="card-body">
              <h4 class="card-title">restaurant name</h4>
              <p class="card-text">Well it was good while it lasted...</p>
                  <a href="" class="link">restaurant link</a>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
              <!-- Image -->
              <img class="card-img-top restaurant-card" src="/img/restaurant/img6.jpg" alt="Photo of sunset">
              <!-- Text Content -->
              <div class="card-body">
              <h4 class="card-title">restaurant name</h4>
              <p class="card-text">Well it was good while it lasted...</p>
                  <a href="" class="link">restaurant link</a>
              </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row hidden-md-up">
        <div class="col-md-4">
          <div class="card">
              <!-- Image -->
              <img class="card-img-top restaurant-card" src="/img/restaurant/img7.jpg" alt="Photo of sunset">
              <!-- Text Content -->
              <div class="card-body">
              <h4 class="card-title">restaurant name</h4>
              <p class="card-text">Well it was good while it lasted...</p>
                  <a href="" class="link">restaurant link</a>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
              <!-- Image -->
              <img class="card-img-top restaurant-card" src="/img/restaurant/img8.jpg" alt="Photo of sunset">
              <!-- Text Content -->
              <div class="card-body">
              <h4 class="card-title">restaurant name</h4>
              <p class="card-text">Well it was good while it lasted...</p>
                  <a href="" class="link">restaurant link</a>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
              <!-- Image -->
              <img class="card-img-top restaurant-card" src="/img/restaurant/img9.jpg" alt="Photo of sunset">
              <!-- Text Content -->
              <div class="card-body">
              <h4 class="card-title">restaurant name</h4>
              <p class="card-text">Well it was good while it lasted...</p>
                  <a href="" class="link">restaurant link</a>
              </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row hidden-md-up">
        <div class="col-md-4">
          <div class="card">
              <!-- Image -->
              <img class="card-img-top restaurant-card" src="/img/restaurant/img10.jpg" alt="Photo of sunset">
              <!-- Text Content -->
              <div class="card-body">
              <h4 class="card-title">restaurant name</h4>
              <p class="card-text">Well it was good while it lasted...</p>
                  <a href="" class="link">restaurant link</a>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
              <!-- Image -->
              <img class="card-img-top restaurant-card" src="/img/restaurant/img11.jpg" alt="Photo of sunset">
              <!-- Text Content -->
              <div class="card-body">
              <h4 class="card-title">restaurant name</h4>
              <p class="card-text">Well it was good while it lasted...</p>
                  <a href="" class="link">restaurant link</a>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
              <!-- Image -->
              <img class="card-img-top restaurant-card" src="/img/restaurant/img12.jpg" alt="Photo of sunset">
              <!-- Text Content -->
              <div class="card-body">
              <h4 class="card-title">restaurant name</h4>
              <p class="card-text">Well it was good while it lasted...</p>
                  <a href="" class="link">restaurant link</a>
              </div>
          </div>
        </div>
      </div>
      
  </div>
</div>