<body>
  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
  
<div class="container">
      <div class="jumbotron j5">
      <h1>Who Are We ?</h1>
      <p>	<center><strong>
About New York Guide, the Cities largest travel site* enables travellers to unleash the full potential of every trip. With approximately 661 million reviews and opinions covering the world's largest selection of travel listings worldwide – covering approximately 7.7 million accommodations, airlines, experiences, and restaurants -- NewYork provides travellers with the wisdom of the crowds to help them decide where to stay, how to fly, what to do and where to eat. New York guide also compares prices from more than 200 hotel booking sites so travellers can find the lowest price on the hotel that's right for them. NewYork-branded sites are available in 49 markets, and are home to the world's largest travel community of 456 million average monthly unique visitors**, all looking to get the most out of every trip. New York Guide: Know better. Book better. Go better. The subsidiaries and affiliates of New York, Inc. (NASDAQ: TRIP) own and operate a portfolio of websites and businesses, including more than 20 travel media brands
</strong></center></p>
      </div>



<div class="row justify-content-around" >
	<div class="col-md-3">
			<div class="card">
					<div class="card-header">
            <h4 class="card-title">Shivesh Kumar</h4>
            <h6 class="card-subtitle text-muted">UI Designer</h6>
					</div>
					<div class="card-body">
				  	<img alt="Card image cap" class="card-img-top img-fluid" src="img	/pp1.jpg" />
						<p class="card-text"></p>
					</div>
					<div class="card-footer">
					Role
					</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
					<div class="card-header">
						<h4 class="card-title">Saikumar Katepalli</h4>
            <h6 class="card-subtitle text-muted">Backend PHP</h6>
					</div>
					<div class="card-body">
				  	<img alt="Card image cap" class="card-img-top img-fluid" src="img/pp2.jpg" />
						<p class="card-text"></p>
					</div>
					<div class="card-footer">
						Role
					</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
					<div class="card-header">

            <h4 class="card-title">Krishna Vikash</h4>
            <h6 class="card-subtitle text-muted">Angular Expert</h6>

					</div>
					<div class="card-body">
				  	<img alt="Card image cap" class="card-img-top img-fluid" src="/img/pp3.jpg" />
						<p class="card-text"></p>
					</div>
					<div class="card-footer">
					Role
					</div>
			</div>
	</div>
 </div>
</div>


</div>