<nav class="navbar navbar-expand-sm navbar-dark bg-main mb-3 sticky-top">
          <div class="container">
            <a class="navbar-brand" href="/">NYG</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                         <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {{#if user}}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink" >Explore</a>
                        <div class="dropdown-menu">
                            <a href="/menu/artgallery" class="dropdown-item">Art Gallery</a>
                            <a href="/menu/shopping" class="dropdown-item">Shopping</a>
                            <a href="/menu/attractions" class="dropdown-item">Attractions </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink" >Vouchers</a>
                        <div class="dropdown-menu">
                            <a href="/menu" class="dropdown-item">Vouchers</a>
                            <a href="/menu/add" class="dropdown-item">Buy Vouchers</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink" >Food N More</a>
                        <div class="dropdown-menu">
                            <a href="/menu/restaurants" class="dropdown-item">Restaurants</a>
                            <a href="/menu/cafe" class="dropdown-item">Cafe</a>
                            <a href="/menu/cheapeats" class="dropdown-item">Cheap Eats</a>
                            <div class="dropdown-divider"></div>
                             <a href="/menu/nightlife" class="dropdown-item">Night Life</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="/menu/live" class="nav-link">Live</a>
                    </li>
                    <li class="nav-item">
                        <a href="/menu/calender" class="nav-link">Calender</a>
                    </li>
                     <li class="nav-item">
                        <a href="/users/logout" class="nav-link">Logout</a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a href="/users/login" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/users/register" class="nav-link">Register</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
         </div>
        </nav>
       